p {
    font-size: 20px;
    font-weight: bold;
  }

  #confirm-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }

  #confirm-button:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(2px);
  }
  
  #confirm-button:hover {
    cursor: pointer;
  }